{% extends 'base.html.twig' %}

{% block title %}
    Salut
{% endblock %}

{% block titleNav %}
    <h1>Coucou</h1>
{% endblock %}

 {% block content %}
     <div class="row row-cols-3">

         {% for i in product %}
             <div class="card" style="width: 18rem;">
                 <div class="card-body">
                     <h5 class="card-title">{{ i }}</h5>
                 </div>
             </div>
         {% endfor %}
     </div>
     </div>

 {% endblock %}